# {{ project_identifier }}

## Setup

### Install requirements

```bash
uv pip install -r requirements.txt
```

### Getting started guide

```bash
uv run python main.py
```

### Running tests

```bash
piccolo tester run
```
